body{
font-family:Arial;
background:#eef2f7;
margin:0;
padding:30px;
}

.container{
max-width:900px;
margin:auto;
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 0 15px rgba(0,0,0,.2);
}

h1{
text-align:center;
}

.form{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
margin-bottom:20px;
}

input{
padding:10px;
font-size:16px;
}

button{
padding:10px;
cursor:pointer;
background:#2563eb;
color:white;
border:none;
border-radius:6px;
}

button:hover{
background:#1d4ed8;
}

.buttons{
margin:20px 0;
display:flex;
gap:10px;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
border:1px solid #ddd;
padding:10px;
text-align:center;
}

th{
background:#2563eb;
color:white;
}
